.calendar {
  border-radius: 5px;
  padding: 30px;
}

.calendar month {
  width: 300px;
  user-select: none;
}

.calendar header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.calendar week {
  display: flex;
  justify-content: space-between;
}

.calendar days_of_week {
  display: flex;
  justify-content: space-between;
}

.calendar week-day {
  display: inline-block;
  width: 40px;
  text-align: center;
  line-height: 30px;
  opacity: 0.5;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}